*.zip
gallery/
/gallery/*.jpg
/gallery/*.png
/gallery/*.gif
/gallery/*.exe
/gallery/*.jpeg
res/brickary/page/log
res/brickary/*.min.js
*.swp
js/jquery*
js/magnific*
js/main.js
old/
/HTML5Application/nbproject/private/
/nbproject/private/
Exhibition_Calculations/
Exhibition_Cognition/
Exhibition_Nov18/
GREATJOY/
HAPPY/
images/
george/
AZAEL/
DARIO/
Exhibition_Archive/
/currator/HTML5Application/nbproject/private/
/currator/nbproject/private/