/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
} */

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  START modal-container with login & sign in   */
/* body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
} */

.modal-btn {
  padding: 5vw;
  color: #00796B;
  font-size: 10vw;
  font-weight: bold;
  outline: solid #00796B 1.5vw;
  cursor: pointer;
}

#modal-toggle, 
#modal-toggle-artist1,
#modal-toggle-artist2,
#modal-toggle-artist3,
#modal-toggle-artist4,
#modal-toggle-artist5 {
  display: none;
}

.modal-content,
.modal-backdrop {
  opacity: 0;
  position: fixed;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-content {
  top: 0;
  bottom: 0;
  margin: auto!important;
  left: 0;
  right: 0;
  height: 550px;
  max-height: 98%;
  width: 30%;
  max-width: 600px;
  text-align: center;
  transform: translateX(125%);
}

.modal-content {
  width: 50%;		
}

.modal-backdrop {
  left: 0;
  top: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  transform: scale(0);
}

#modal-toggle:checked + .modal-backdrop,
#modal-toggle-artist1:checked + .modal-backdrop,
#modal-toggle-artist2:checked + .modal-backdrop,
#modal-toggle-artist3:checked + .modal-backdrop,
#modal-toggle-artist4:checked + .modal-backdrop,
#modal-toggle-artist5:checked + .modal-backdrop {
  opacity: 1;
  background-color: rgba(0, 70, 62, 0.5);
  z-index: 998;
  transform: scale(1);
}

#modal-toggle:checked + .modal-backdrop + .modal-content,
#modal-toggle-artist1:checked + .modal-backdrop + .modal-content,
#modal-toggle-artist2:checked + .modal-backdrop + .modal-content,
#modal-toggle-artist3:checked + .modal-backdrop + .modal-content,
#modal-toggle-artist4:checked + .modal-backdrop + .modal-content,
#modal-toggle-artist5:checked + .modal-backdrop + .modal-content {
  opacity: 1;
  background-color: #945a5a5c;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: auto;
  cursor: auto;
  z-index: 999;
  transform: translateX(0%);
}

@media (max-width: 600px) {
  #modal-toggle:checked + .modal-backdrop,
  #modal-toggle:checked + .modal-backdrop + .modal-content,
  #modal-toggle-artist1:checked + .modal-backdrop,
  #modal-toggle-artist1:checked + .modal-backdrop + .modal-content,
  #modal-toggle-artist2:checked + .modal-backdrop,
  #modal-toggle-artist2:checked + .modal-backdrop + .modal-content,
  #modal-toggle-artist3:checked + .modal-backdrop,
  #modal-toggle-artist3:checked + .modal-backdrop + .modal-content,
  #modal-toggle-artist4:checked + .modal-backdrop,
  #modal-toggle-artist4:checked + .modal-backdrop + .modal-content,
  #modal-toggle-artist5:checked + .modal-backdrop,
  #modal-toggle-artist5:checked + .modal-backdrop + .modal-content {
    opacity: 0;
  }

  .modal-content {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
}

.modal-close-btn {
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
}
.modal-close-btn svg {
  transition: 0.2s;
}
.modal-close-btn svg line {
  stroke-width: 5px;
  stroke: #fff;
}
.modal-close-btn:hover svg {
  transform: rotate(90deg);
}

/* BASIC FUNCTIONALITY .tabs */
.tabs, .tabs-artist {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.tabs > .radio, 
.tabs-artist > .radio {
  display: none;
}
.tabs > .radio:checked + .table + .tabs-content,
.tabs-artist > .radio:checked + .table + .tabs-content-artist {
  display: block;
}

.tabs-artist > .radio:checked + .table + .tabs-content-artist {
	background-color: white;
}
	
.tabs > .table,
.tabs-artist > .table {
  order: -1;
  flex-basis: 50%;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tabs .tabs-content {
  width: 100%;
  display: none;
}

/* END BASIC FUNCTIONALITY .tabs */
/*  THEME for .tabs with login & sign-in  */
.tabs > .table,
.tabs-artist > .table {
  padding: 20px 0;
  text-align: center;
  border-bottom: solid #000 5px;
  color: #00796B;
  cursor: pointer;
}
.tabs > .table span,
.tabs-artist > .table span {
  font-weight: 600;
}
.tabs > .table:hover,
.tabs-artist > .table:hover {
  color: #00796B;
  background: rgba(0, 121, 107, 0.2);
}
.tabs > .radio:checked + .table,
.tabs-artist > .radio:checked + .table {
  color: #fff;
  background: #000000;
  cursor: auto;
}
.tabs > .radio:checked + .table span,
.tabs-artist > .radio:checked + .table span {
  display: inline-block;
  font-weight: 500;
  transform: scale(1.2);
  transition: 0.1s;
}

.tabs > label span,
.tabs-artist > label span{color: #fff;}

/*  END THEME for .tabs with login & sign-in  */
/*  START style login & sign up  */
.tabs > .tabs-content .login_socnet,
.tabs-artist > .tabs-content-artist .login_socnet {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
}
.tabs > .tabs-content .login_socnet a,
.tabs-artist > .tabs-content-artist .login_socnet a {
  margin: 20px;
  margin-bottom: 0;
  width: 100%;
  font-size: 60px;
  text-decoration: none;
  transition: 0.2s;
}
.tabs > .tabs-content .login_socnet a:hover,
.tabs-artist > .tabs-content-artist .login_socnet a:hover {
  transform: scale(1.1);
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.2));
}
.tabs > .tabs-content .login_socnet .fa-twitter,
.tabs-artist > .tabs-content-artist .login_socnet .fa-twitter {
  color: #1da1f2;
}
.tabs > .tabs-content .login_socnet .fa-google-plus,
.tabs-artist > .tabs-content-artist .login_socnet .fa-google-plus {
  color: #E57373;
}
.tabs > .tabs-content .login_socnet .fa-facebook,
.tabs-artist > .tabs-content-artist .login_socnet .fa-facebook {
  color: #5C6BC0;
}
.tabs > .tabs-content form,
.tabs-artist > .tabs-content-artist form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.tabs > .tabs-content form input,
.tabs-artist > .tabs-content-artist form input {
  padding: 10px!important;
  margin: 15px 0!important;
  border: none;
  border-bottom: solid 1px #00796B;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.1s;
  width: 100%;
}
.tabs > .tabs-content form input:focus,
.tabs-artist > .tabs-content-artist form input:focus {
  transform: translateX(10px);
  outline: none;
}
.tabs > .tabs-content input[type="submit"],
.tabs-artist > .tabs-content-artist input[type="submit"] {
  padding: 15px 0!important;
  width: 100%;
  background: #000000;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.tabs > .tabs-content input[type="submit"]:focus,
.tabs-artist > .tabs-content-artist input[type="submit"]:focus {
  transform: none;
}
.tabs > .tabs-content .forgot-password label,
.tabs-artist > .tabs-content-artist .forgot-password label {
  margin: 0 auto!important;
  width: 50%;
  color: #fbfbfb;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5;
}
.tabs > .tabs-content .forgot-password label:hover,
.tabs-artist > .tabs-content-artist .forgot-password label:hover {
  text-decoration: underline;
}

#topbar .tabs-artist > .tabs-content-artist p {
	color: black;
	padding: 10px;
	background: #ffffffd9;
}

/*  END style login & sign up  */
.forgot-password #forgot-password-toggle {
  display: none;
}
.forgot-password .forgot-password-content {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
.forgot-password .forgot-password-content input[type="email"] {
  width: 80%;
  margin-right: 0px;
  border-right: none;
}
.forgot-password .forgot-password-content input[type="submit"] {
  width: 20%;
  margin-left: 0px;
}
.forgot-password #forgot-password-toggle:checked ~ .forgot-password-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
}